<div style="background-image: url('assets/images/login.jpg');" class="row no-gutters align-items-center main-wrapper" dir="ltr">

    <div class="col-md-6">

        <form #userForm="ngForm" (ngSubmit)="forgetPassword(userForm.value);" class="login-form">
            <h1>Forget Password</h1>
            <div class="form-group user-wrapper">
                <label #emailLabel for="email" class="user-label"> Your Email </label>
                <input
                    [ngClass]="{ 'is-invalid': email.invalid && email.touched , 'is-valid': !email.invalid && email.touched, 'pr-50': email.touched }"
                    ngModel #email="ngModel" required email (click)="animateLabel(emailLabel)"
                    (focus)="animateLabel(emailLabel)" name="email" type="text" id="email" class="form-control input-user">


                <div *ngIf="!email.valid && email.touched" class="">
                    <div class="alert alert-danger" *ngIf="email.errors.required">email is required </div>
                    <div class="alert alert-danger" *ngIf="email.errors.email">email must be a valid email </div>
                </div>
            </div>


             <!-- <div class="row remember-me">
        <div class="col">
            <input type="checkbox" name="remember-me">
            <label for="remember-me" class="mr-10"> تذكرني</label>
        </div>
        <div class="text-left col">
            <a class="forget-password" routerLink="forget-password" >هل نسيت كلمة المرور؟</a>
        </div>
    </div> -->

            <!-- forget password and remember me -->
        <div class="d-flex justify-content-between align-items-center">
         <button [disabled]="!userForm.valid" class="btn admin-btn">Submit </button>
         <a class="forget-password" routerLink="/login" >back to login </a>


        </div>
        
    
    <div *ngIf="isLoading" class="mt-100 d-flex justify-content-center">
        <mat-spinner></mat-spinner>
    </div>

        </form>
       

    </div>


</div>