@import "~bootstrap/dist/css/bootstrap.css";
@import "variables";
@import "framework";
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';


.admin-btn{
    display: block;
    width: 170px;
    border: 1px solid $adminBtnColor;
    color: $adminBtnColor;
    font-size: 1.4rem;
    &:hover{
        color: #fff !important;
        background-color: $adminBtnColor !important;
    }
}


// for pagination
.pagination-wrapper{
    .number{
        font-size: 20px;
        align-items: center;
        background-color: $adminBtnColor;
        width: 30px;
        height: 30px;
        color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
    }
    
    .fa-angle-double-right, .fa-angle-double-left{
        display: flex;
        justify-content: center;
        width: 30px;
        font-size: 1.4rem;
    
        &.disabled{
            opacity: .4;
            display: none;
        }
    }
}


.page-item.active{
    border: 0;
    .page-link{
        background-color: $mainColor;
    }
}

.page-link.active{
    
    background-color: $mainColor;
}


.confirm-dialog-container{
    z-index: 548564132748 !important;
    background-color: #f2f2f2;
}

[dir=rtl] th.mat-header-cell:first-of-type, [dir=rtl] td.mat-cell:first-of-type, [dir=rtl] td.mat-footer-cell:first-of-type{
    padding-right:0 !important ;
}


.main-search {
    padding-bottom: 25px;
    position: relative;
    width: 80%;
    margin: auto;
    // margin-bottom: 50px;
  
    &:before {
      content: "\f002";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      top: 20px;
      right: 30px;
      font-size: 25px;
      color: #acacac;
    }
  
    input[type=search] {
      height: 60px;
      width: 100%;
      // padding: 10px 60px;
      border: 1px solid #6c757d;
      border-radius: 10px;
      padding-right: 80px;
      font-size: 1.5rem;
      color: #6c757d;
    }
  
    .btn-search {
          position: absolute;
  
          top: 5px;
          left: 5px;
          padding: 10px 40px;
          border: none;
          border-radius: 10px;
          height: 50px;
          color: #fff;
          background-color: $secondColor;
          font-size: 1.5rem;
          font-weight: lighter;
    }
  }
  
  